/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body{
	/* use system fonts */
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    padding: 30px;
    background-color: #FFFFFF;
    animation: fadein 2s; /* fade in entire page */
}


#style ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#style li {
    float: left;
}

/* nesting */
#style li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 12px; /*this adds some spacing around the items in my style footer*/
    text-decoration: none;
}

#style li a:hover {
    
}

#faculty>ul>li {
    display: inline-block;
    margin: 10px;
}

img.pic {
  height: 150px;
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  border-radius: 3px;
  transition: all 0.3s;
}

img.pic:hover {
	transform: scale(1.2);
}